In [14]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

# LINEAR REGRESSION FROM SKLEARN

In [15]:
dataset = pd.read_csv('../dataset/insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [16]:
ohe = OneHotEncoder()
ohe_feature = ohe.fit_transform(dataset[['region']]).toarray()
feature_name = ohe.categories_
ohe_df = pd.DataFrame(ohe_feature, columns=feature_name)
dataset = pd.concat([dataset, ohe_df], axis=1)
dataset['sex'] = np.where(dataset['sex'] == 'male', 1, 0)
dataset['smoker'] = np.where(dataset['smoker'] == 'yes', 1, 0)
dataset.drop(['region'], axis=1, inplace=True)

charges_col = dataset.pop('charges')
dataset.insert(dataset.shape[1], 'charges', charges_col)

In [17]:
dataset

,age,sex,bmi,children,smoker,"(northeast,)","(northwest,)","(southeast,)","(southwest,)",charges
0,19,0,27.900,0,1,0.0,0.0,0.0,1.0,16884.92400
1,18,1,33.770,1,0,0.0,0.0,1.0,0.0,1725.55230
2,28,1,33.000,3,0,0.0,0.0,1.0,0.0,4449.46200
3,33,1,22.705,0,0,0.0,1.0,0.0,0.0,21984.47061
4,32,1,28.880,0,0,0.0,1.0,0.0,0.0,3866.85520
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,0.0,1.0,0.0,0.0,10600.54830
1334,18,0,31.920,0,0,1.0,0.0,0.0,0.0,2205.98080
1335,18,0,36.850,0,0,0.0,0.0,1.0,0.0,1629.83350
1336,21,0,25.800,0,0,0.0,0.0,0.0,1.0,2007.94500
1337,61,0,29.070,0,1,0.0,1.0,0.0,0.0,29141.36030

In [18]:
minmax_scaler = MinMaxScaler()
dataset = minmax_scaler.fit_transform(dataset)

In [19]:
X_train, X_eval, y_train, y_eval = dataset[:1001, :-1], dataset[1001:, :-1], dataset[:1001, -1], dataset[1001:, -1]

In [20]:
lr = linear_model.LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [21]:
y_eval_predict = lr.predict(X_eval)

In [25]:
rmse = np.sqrt(mean_squared_error(y_eval, y_eval_predict))
print('RMSE from sklearn:', rmse)

RMSE from sklearn: 0.10263128263296332